<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>My Orders</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Order Date</th>
            <th>Items</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        {% comment %} {% for order_product in orderproduct %} {% endcomment %}
        <tbody>
          <tr>
            {% comment %} <td>{{order_product.order_number}}</td> {% endcomment %}
            <td>2023-03-28</td>
            <td>Product 2</td>
            <td>1</td>
            <td>$25.00</td>
          </tr>
        </tbody>
        {% comment %} {% endfor %} {% endcomment %}
      </table>
    </div>
  </body>
</html>
